.projects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
}

.projects .project {
  margin-right: 6px;
  margin-top: 20px;
  flex-grow: 1;
  max-width: 33%;
  min-width: 452px;
}

.projects::after {
  content: "";
}

.mat-toolbar-row {
  justify-content: center;
}

.mat-toolbar-row .add-todo {
  position: absolute;
  padding-right: 20px;
  right: 0;
}